// =====================================
// MELIODAS AI - SERVEUR GEMINI
// =====================================

const express = require("express");
const cors = require("cors");
const { GoogleGenerativeAI } = require("@google/generative-ai");

const app = express();

app.use(cors());
app.use(express.json());

const GEMINI_API_KEY = AQ.Ab8RN6KZcZIJUOckgZteTqymWeh72iFFjynssUccGmqUaUVJUA

const genAI = new GoogleGenerativeAI(GEMINI_API_KEY);

app.post("/chat", async (req, res) => {
    try {
        const message = req.body.message;

        const model = genAI.getGenerativeModel({
            model: "gemini-2.5-flash"
        });

        const result = await model.generateContent(message);
        const response = result.response.text();

        res.json({
            reply: response
        });

    } catch (error) {
        console.log(error);
        res.status(500).json({
            error: "Erreur avec Gemini"
        });
    }
});

app.listen(3000, () => {
    console.log("Meliodas AI serveur lancé sur le port 3000");
});
